# ==========================================
# 1. ARCHIVOS DE COMPILACIÓN DE .NET (¡CRÍTICO!)
# ==========================================
# Ignora las carpetas donde se guardan los .exe y .dll
[Bb]in/
[Oo]bj/
*.pdb
*.dll
*.exe

# ==========================================
# 2. CONFIGURACIONES LOCALES DE IDEs
# ==========================================
# Visual Studio Code
.vscode/*

!.vscode/tasks.json
!.vscode/launch.json

# Visual Studio (Por si alguna vez lo abres ahí)
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================================
# 3. ARCHIVOS DEL SISTEMA OPERATIVO
# ==========================================
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac (Por si alguien más colabora en el futuro)
.DS_Store

# ==========================================
# 4. ARCHIVOS ESPECÍFICOS DE NUESTRO PROYECTO
# ==========================================
# Ignorar los JSON exportados de prueba para no ensuciar GitHub
# (Quita esto si prefieres que los JSON de prueba sí se suban a GitHub)
*export.json
Map*_events.json
Map*_mapmetrics.json
System_export.json